header {
	text-align: center;
	margin-top: 2rem;
	padding-top: 2rem;
}

header img {
	width: 12rem;
	height: 6rem;
	background: transparent;
	object-fit: contain;
}

header h1 {
  color: #faebd7;
  margin: 0;
}