<main>
  <main>
    <div class="background">
      <form>
        <div class="row">
          <div class="input-group">
            <label for="initial-investment">Initial investment: </label>
            <input type="text" id="initial-value">
          </div>

          <div class="input-group">
            <label for="annual-investment">Annual investment: </label>
            <input type="text" id="annual-investment">
          </div>
        </div>

        <div class="row">
          <div class="input-group">
            <label for="expected-return">Expected return: </label>
            <input type="text" id="expected-return">
          </div>

          <div class="input-group">
            <label for="duration">Duration: </label>
            <input type="text" id="duration">
          </div>
        </div>

				<button type="submit">CALCULATE</button>
      </form>
    </div>
  </main>
</main>
